html {
    width: 100vw;
    height: 100vh;
}

body {
    width: inherit;
    height: inherit;
    margin: 0;
}

#root {
    width: inherit;
    height: inherit;
}

.flexbox {
	display: flex;
	flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}
body{
    overflow-x: hidden;
}