html {
    width: 100vw;
    height: 100vh;
}

body {
    width: inherit;
    height: inherit;
    margin: 0;
    overflow-x: hidden;
}

#root {
    width: inherit;
    height: inherit;
}

.flexbox {
	display: flex;
	flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

body.dark {
    background-color: #636363;
    color: white;
}

body.light {
    background-color: #ebebeb;
    color: black;
}



