html {
    width: 100vw;
    height: 100vh;
}

body {
    width: inherit;
    height: inherit;
    margin: 0;
    background-color: #ebebeb;
}

#root {
    width: inherit;
    height: inherit;
}

.App {
    width: inherit;
    height: inherit;
}

.flexbox {
	display: flex;
	flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}