#browseContainer {
  background-color: #ebebeb;
}

.carsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.carCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.carImage {
  width: 400px;
  align-self: center;
}

.carTitle {
  width: 15em;
}

.carCard h2 {
  align-self: center;
}

.addCartBtn {
  background-color: #008037;
  font-size: 1.4em;
  color: white;
  height: 40px;
  width: 40%;
  border-radius: 10px;
  border-style: none;
  align-self: center;
  cursor: pointer;
}

.search {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 50em;
  transition: all ease-in-out .5s;
  margin-right: -2rem;
}

.search__input:hover, .search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 400;
  color: rgb(97, 99, 101);
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
  margin-top: .1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #1d2637;
  font-size: medium;
}
