#logInContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: #ebebeb;
}

#loginForm {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 200px;
  padding: 10px;
  text-align: center;
  /* background-color: red; */
}

#loginForm button {
  background-color: #008037;
  font-size: 1.4em;
  color: white;
  height: 75px;
  width: 80%;
  border-radius: 10px;
  border-style: none;
  align-self: center;
}

.loginInput {
  height: 70px;
  width: 80%;
  margin-bottom: 20px;
  border-radius: 30px;
  border-style: none;
  align-self: center;
  text-align: center;
  font-size: 1.5em;
}

h1 {
  margin-bottom: 10px;
}

h2 {
  margin: 5px;
}

#accountCreateLink {
  color: #008037;
  text-decoration: none;
}
