<<<<<<< HEAD
body {
    background-image: none !important;
}

#postCreatContent {
    width: 70%;
    height: 200px;
    background-color: navy;
}
=======
#postCreatContent {
    width: 70%;
    height: 200px;
    background-color: navy;
}

>>>>>>> 4dd84b1e80a4ab4c565715a2cf09ba342831cffd
